VITE_FIREBASE_API_KEY=AIzaSyDun_uYBs8RUlNMZKNVbvtEqcjjhBy8hfc
VITE_FIREBASE_AUTH_DOMAIN=movie-mood-recommender-e2535.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=movie-mood-recommender-e2535
VITE_FIREBASE_STORAGE_BUCKET=movie-mood-recommender-e2535.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=518618712266
VITE_FIREBASE_APP_ID=1:518618712266:web:a4979fc8cfe57622bc8c33
VITE_API_URL=https://jeyflix-movie-mood-recommender-production.up.railway.app